<div class="ui secondary pointing menu">
    <a class="item active">
    Home
  </a>
    <a class="item">
    Messages
  </a>
    <a class="item">
    Friends
  </a>
    <div class="right menu">
        <div ng-controller="LogoutController">
            <form name="logoutForm" ng-submit="logout()">
                <button class="ui button">Se déconnecter</button>
            </form>
        </div>
    </div>
</div>
<h1 class="ui teal header">COOP - Project</h1>
<div class="add-channel">
    <button class="ui positive basic button"><a style="color:inherit"href="#!/chan/new"><i class="add circle icon"></i>Ajouter un channel</a></button>
</div>
<div class="ui segment">
    <h2>Mon équipe</h2>
    <div class="ui grid">
        <div class="ui list five wide column" ng-repeat="member in members track by member._id">
            <div class="item">
                <i class="users icon"></i>
                <div class="content">
                    {{member.fullname}}
                </div>
            </div>
            <div class="item">
                <i class="mail icon"></i>
                <div class="content">
                    <a href="mailto:{{member.email}}">{{member.email}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
