body {
    margin: 2%;
    background-color: #ffffff;
}

body>.grid {
    height: 100%;
    margin: 2%;
    padding: 3%;
    border: 1px solid grey;
    background-color: white;
}

.image {
    margin-top: -100px;
}

.column {
    width: 70%;
}

.ui.segment.chat {
    width: auto;
    max-height: 25em;
    overflow-y: auto;
    margin-left: 5em;
    margin-right: 5em;
}
