body {
    margin: 2%;
    background-color: #ffffff;
}

body>.grid {
    height: 100%;
    margin: 2%;
    padding: 3%;
    border: 1px solid grey;
    background-color: white;
}

.image {
    margin-top: -100px;
}

.column {
    width: 70%;
}

.ui.segment.chat {
    width: auto;
    max-height: 25em;
    overflow-y: auto;
    margin-left: 5em;
    margin-right: 5em;
}

.ui.icon.edit.posticon {
    float: right;
    font-size: 1.2em;
    color: #4183C4;
    transition-duration: 0.5s;
}

.ui.icon.edit.posticon:hover {
    font-size: 1.5em;
    cursor: pointer;
}

.ui.icon.ban.posticon {
    font-size: 0.8em;
    color: red;
    transition-duration: 0.5s;
}

.ui.icon.ban.posticon:hover {
    font-size: 1em;
    cursor: pointer;
}
