body {
    margin: 2%;
    background-color: #DADADA;
}

body>.grid {
    height: 100%;
    margin: 2%;
    padding: 3%;
    border: 1px solid grey;
    background-color: white;
}

.image {
    margin-top: -100px;
}

.column {
    width: 70%;
}
